# Django
SECRET_KEY=your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=
PUBLIC_API_KEY=

# PostgreSQL
DB_NAME=ai_video_studio
DB_USERNAME=database
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=defaultport

# Initial staff user
ADMIN_EMAIL=
ADMIN_PASSWORD=

